basePath: /api/v1
definitions:
  v1.AreaListResult:
    properties:
      center_lat:
        type: number
      center_lng:
        type: number
      description:
        type: string
      id:
        type: integer
      name:
        type: string
    type: object
  v1.AreaResult:
    properties:
      center_lat:
        type: number
      center_lng:
        type: number
      description:
        type: string
      id:
        type: integer
      name:
        type: string
      points:
        items:
          $ref: '#/definitions/v1.PointResult'
        type: array
    type: object
  v1.CreateAreaRequest:
    properties:
      description:
        example: Request for test.
        type: string
      name:
        example: test
        type: string
      points:
        items:
          properties:
            index:
              type: integer
            lat:
              type: number
            lng:
              type: number
          type: object
        type: array
    type: object
  v1.DroneItemResult:
    properties:
      domain:
        type: string
      id:
        type: integer
      is_rtk_available:
        description: IsRTKAvailable 是否支持RTK
        type: boolean
      is_thermal_available:
        description: IsThermalAvailable 是否支持热成像
        type: boolean
      last_login_at:
        description: LastLoginAt 最后登录时间
        type: string
      product_type:
        description: ProductType 无人机的型号名称
        type: string
      sn:
        description: 以下字段来自实体信息
        type: string
      status:
        description: 以上字段来自实体信息
        type: string
      sub_type:
        type: integer
      type:
        type: integer
    type: object
  v1.LoginRequest:
    properties:
      password:
        example: admin
        type: string
      sn:
        description: SN 遥控器 SN，仅 Pilot 端登录时需要提供
        example: "123456"
        type: string
      username:
        example: admin
        type: string
    required:
    - password
    - username
    type: object
  v1.LoginResult:
    properties:
      params:
        $ref: '#/definitions/v1.ParamsResult'
      platform:
        $ref: '#/definitions/v1.PlatformResult'
      token:
        type: string
      user:
        $ref: '#/definitions/v1.UserResult'
    type: object
  v1.ParamsResult:
    properties:
      mqtt_host:
        type: string
      mqtt_password:
        type: string
      mqtt_username:
        type: string
    type: object
  v1.PlatformResult:
    properties:
      desc:
        type: string
      platform:
        type: string
      workspace:
        type: string
    type: object
  v1.PointResult:
    properties:
      index:
        type: integer
      lat:
        type: number
      lng:
        type: number
    type: object
  v1.Response:
    properties:
      code:
        type: integer
      data: {}
      msg:
        type: string
    type: object
  v1.UserResult:
    properties:
      id:
        type: string
      role:
        type: string
      username:
        type: string
    type: object
host: lqhirwdzgkvv.sealoshzh.site
info:
  contact: {}
  description: DroneSphere API
  license:
    name: Apache 2.0
  title: DroneSphere API
  version: "1.0"
paths:
  /areas:
    get:
      consumes:
      - application/json
      description: 获取搜索区域的详细信息，包括区域的点列表
      parameters:
      - description: 区域ID
        in: query
        name: id
        required: true
        type: integer
      - description: 区域名称
        in: query
        name: name
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: 成功
          schema:
            allOf:
            - $ref: '#/definitions/v1.Response'
            - properties:
                data:
                  $ref: '#/definitions/v1.AreaResult'
              type: object
      summary: 获取搜索区域的详细信息
      tags:
      - area
    post:
      consumes:
      - application/json
      description: 创建搜索区域
      parameters:
      - description: 请求体
        in: body
        name: req
        required: true
        schema:
          $ref: '#/definitions/v1.CreateAreaRequest'
      produces:
      - application/json
      responses:
        "200":
          description: 成功
          schema:
            allOf:
            - $ref: '#/definitions/v1.Response'
            - properties:
                data:
                  $ref: '#/definitions/v1.AreaResult'
              type: object
      summary: 创建搜索区域
      tags:
      - area
  /areas/list:
    get:
      consumes:
      - application/json
      description: 列出所有搜索区域，不返回每个区域的点列表，仅返回中心点位置
      produces:
      - application/json
      responses:
        "200":
          description: 成功
          schema:
            allOf:
            - $ref: '#/definitions/v1.Response'
            - properties:
                data:
                  items:
                    $ref: '#/definitions/v1.AreaListResult'
                  type: array
              type: object
      summary: 列出所有搜索区域
      tags:
      - area
  /drone/list:
    get:
      consumes:
      - application/json
      description: 列出所有绑定的无人机，包含不在线的无人机
      produces:
      - application/json
      responses:
        "200":
          description: 成功
          schema:
            allOf:
            - $ref: '#/definitions/v1.Response'
            - properties:
                data:
                  items:
                    $ref: '#/definitions/v1.DroneItemResult'
                  type: array
              type: object
      summary: 列出所有无人机
      tags:
      - drone
  /user/login:
    post:
      consumes:
      - application/json
      description: Web/Pilot端统一用户登录，根据是否携带 SN 切换登录方式
      parameters:
      - description: 登录参数
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/v1.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: 成功
          schema:
            allOf:
            - $ref: '#/definitions/v1.Response'
            - properties:
                data:
                  $ref: '#/definitions/v1.LoginResult'
              type: object
      summary: Web/Pilot端统一用户登录
      tags:
      - user
swagger: "2.0"
