{
    "swagger": "2.0",
    "info": {
        "description": "DroneSphere API",
        "title": "DroneSphere API",
        "contact": {},
        "license": {
            "name": "Apache 2.0"
        },
        "version": "1.0"
    },
    "host": "lqhirwdzgkvv.sealoshzh.site",
    "basePath": "/api/v1",
    "paths": {
        "/algo": {
            "get": {
                "description": "列出所有检测算法",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "algo"
                ],
                "summary": "列出所有检测算法",
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/v1.Response"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/v1.DetectAlgoResult"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            },
            "post": {
                "description": "创建检测算法",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "algo"
                ],
                "summary": "创建检测算法",
                "parameters": [
                    {
                        "description": "请求体",
                        "name": "req",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v1.CreateDetectAlgoRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/v1.Response"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/v1.DetectAlgoResult"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/algo/{id}": {
            "get": {
                "description": "获取检测算法",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "algo"
                ],
                "summary": "获取检测算法",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "算法ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/v1.Response"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/v1.DetectAlgoResult"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            },
            "delete": {
                "description": "删除检测算法",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "algo"
                ],
                "summary": "删除检测算法",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "算法ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "$ref": "#/definitions/v1.Response"
                        }
                    }
                }
            }
        },
        "/algo/{id}/classes": {
            "put": {
                "description": "更新检测算法类别",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "algo"
                ],
                "summary": "更新检测算法类别",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "算法ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    },
                    {
                        "description": "请求体",
                        "name": "req",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "$ref": "#/definitions/v1.DetectClassResult"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/v1.Response"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/v1.DetectAlgoResult"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/areas": {
            "get": {
                "description": "获取搜索区域的详细信息，包括区域的点列表",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "area"
                ],
                "summary": "获取搜索区域的详细信息",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "区域ID",
                        "name": "id",
                        "in": "query",
                        "required": true
                    },
                    {
                        "type": "string",
                        "description": "区域名称",
                        "name": "name",
                        "in": "query"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/v1.Response"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/v1.AreaResult"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            },
            "post": {
                "description": "创建搜索区域",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "area"
                ],
                "summary": "创建搜索区域",
                "parameters": [
                    {
                        "description": "请求体",
                        "name": "req",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v1.CreateAreaRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/v1.Response"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/v1.AreaResult"
                                        }
                                    }
                                }
                            ]
                        }
                    },
                    "400": {
                        "description": "参数错误",
                        "schema": {
                            "$ref": "#/definitions/v1.ErrorBody"
                        }
                    }
                }
            }
        },
        "/areas/:id": {
            "delete": {
                "description": "删除搜索区域",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "area"
                ],
                "summary": "删除搜索区域",
                "parameters": [
                    {
                        "type": "integer",
                        "description": "区域ID",
                        "name": "id",
                        "in": "path",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "$ref": "#/definitions/v1.Response"
                        }
                    }
                }
            }
        },
        "/areas/list": {
            "get": {
                "description": "列出所有搜索区域，不返回每个区域的点列表，仅返回中心点位置",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "area"
                ],
                "summary": "列出所有搜索区域",
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/v1.Response"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/v1.AreaItemResult"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/drone/list": {
            "get": {
                "description": "列出所有绑定的无人机，包含不在线的无人机",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "drone"
                ],
                "summary": "列出所有无人机",
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/v1.Response"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/v1.DroneItemResult"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/job": {
            "get": {
                "description": "获取所有任务",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "job"
                ],
                "summary": "获取所有任务",
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/v1.Response"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/v1.JobItemResult"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            },
            "put": {
                "description": "更新任务",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "job"
                ],
                "summary": "更新任务",
                "parameters": [
                    {
                        "description": "更新任务请求",
                        "name": "req",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v1.JobEditionRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/v1.Response"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/v1.JobDetailResult"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            },
            "post": {
                "description": "创建任务",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "job"
                ],
                "summary": "创建任务",
                "parameters": [
                    {
                        "description": "创建任务请求",
                        "name": "req",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v1.JobCreationRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/v1.Response"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/v1.JobCreationResult"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/job/creation/options": {
            "get": {
                "description": "创建任务时依赖的选项数据，包括可选的搜索区域列表",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "job"
                ],
                "summary": "创建任务时依赖的选项数据",
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/v1.Response"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/v1.JobCreationOptionsResult"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/job/edition/options": {
            "get": {
                "description": "编辑任务时依赖的选项数据，包括可选的无人机列表",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "job"
                ],
                "summary": "编辑任务时依赖的选项数据",
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/v1.Response"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/v1.JobEditionOptionsResult"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/job/{id}": {
            "get": {
                "description": "获取任务详细信息",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "job"
                ],
                "summary": "获取任务详细信息",
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/v1.Response"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/v1.JobDetailResult"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/user/login": {
            "post": {
                "description": "Web/Pilot端统一用户登录，根据是否携带 SN 切换登录方式",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "summary": "Web/Pilot端统一用户登录",
                "parameters": [
                    {
                        "description": "登录参数",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v1.LoginRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/v1.Response"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/definitions/v1.LoginResult"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/wayline": {
            "get": {
                "description": "列出所有航线",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "wayline"
                ],
                "summary": "列出所有航线",
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/v1.Response"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/definitions/v1.WaylineItemResult"
                                            }
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            },
            "post": {
                "description": "根据给出的点序列和无人机SN、高度生成航线",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "wayline"
                ],
                "summary": "创建航线",
                "parameters": [
                    {
                        "description": "请求体",
                        "name": "req",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/v1.CreateWaylineRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/v1.Response"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        },
        "/wayline/download": {
            "get": {
                "description": "根据给出的key下载航线文件",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "wayline"
                ],
                "summary": "下载航线文件",
                "responses": {
                    "200": {
                        "description": "成功",
                        "schema": {
                            "allOf": [
                                {
                                    "$ref": "#/definitions/v1.Response"
                                },
                                {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "type": "object"
                                        }
                                    }
                                }
                            ]
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "v1.AreaItemResult": {
            "type": "object",
            "properties": {
                "center_lat": {
                    "type": "number"
                },
                "center_lng": {
                    "type": "number"
                },
                "description": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "points": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/v1.PointResult"
                    }
                }
            }
        },
        "v1.AreaResult": {
            "type": "object",
            "properties": {
                "center_lat": {
                    "type": "number"
                },
                "center_lng": {
                    "type": "number"
                },
                "description": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "points": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/v1.PointResult"
                    }
                }
            }
        },
        "v1.CreateAreaRequest": {
            "type": "object",
            "properties": {
                "description": {
                    "type": "string",
                    "example": "Request for test."
                },
                "name": {
                    "type": "string",
                    "example": "test"
                },
                "points": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "index": {
                                "type": "integer"
                            },
                            "lat": {
                                "type": "number"
                            },
                            "lng": {
                                "type": "number"
                            }
                        }
                    }
                }
            }
        },
        "v1.CreateDetectAlgoRequest": {
            "type": "object"
        },
        "v1.CreateWaylineRequest": {
            "type": "object",
            "required": [
                "drone_sn",
                "points"
            ],
            "properties": {
                "drone_sn": {
                    "type": "string"
                },
                "height": {
                    "type": "number"
                },
                "points": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/v1.PointRequest"
                    }
                }
            }
        },
        "v1.DetectAlgoResult": {
            "type": "object",
            "properties": {
                "algo_path": {
                    "type": "string"
                },
                "algo_version": {
                    "type": "string"
                },
                "classes": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/v1.DetectClassResult"
                    }
                },
                "description": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "v1.DetectClassResult": {
            "type": "object",
            "properties": {
                "key": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "v1.DroneItemResult": {
            "type": "object",
            "properties": {
                "callsign": {
                    "description": "呼号",
                    "type": "string"
                },
                "domain": {
                    "type": "string"
                },
                "id": {
                    "description": "ID",
                    "type": "integer"
                },
                "is_rtk_available": {
                    "description": "IsRTKAvailable 是否支持RTK",
                    "type": "boolean"
                },
                "is_thermal_available": {
                    "description": "IsThermalAvailable 是否支持热成像",
                    "type": "boolean"
                },
                "last_login_at": {
                    "description": "LastLoginAt 最后登录时间",
                    "type": "string"
                },
                "product_type": {
                    "description": "ProductType 无人机的型号名称",
                    "type": "string"
                },
                "sn": {
                    "description": "以下字段来自实体信息",
                    "type": "string"
                },
                "status": {
                    "description": "以上字段来自实体信息",
                    "type": "string"
                },
                "sub_type": {
                    "type": "integer"
                },
                "type": {
                    "type": "integer"
                }
            }
        },
        "v1.ErrorBody": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer"
                },
                "msg": {
                    "type": "string"
                }
            }
        },
        "v1.JobAreaResult": {
            "type": "object",
            "properties": {
                "name": {
                    "type": "string"
                },
                "points": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "lat": {
                                "type": "number"
                            },
                            "lng": {
                                "type": "number"
                            },
                            "marker": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "v1.JobCreationOptionsResult": {
            "type": "object",
            "properties": {
                "areas": {
                    "description": "Area 可选的区域列表",
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "description": {
                                "type": "string"
                            },
                            "id": {
                                "type": "integer"
                            },
                            "name": {
                                "type": "string"
                            }
                        }
                    }
                }
            }
        },
        "v1.JobCreationRequest": {
            "type": "object",
            "properties": {
                "area_id": {
                    "type": "integer"
                },
                "description": {
                    "type": "string"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "v1.JobCreationResult": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "integer"
                }
            }
        },
        "v1.JobDetailResult": {
            "type": "object",
            "properties": {
                "area": {
                    "type": "object",
                    "properties": {
                        "description": {
                            "type": "string"
                        },
                        "id": {
                            "type": "integer"
                        },
                        "name": {
                            "type": "string"
                        },
                        "points": {
                            "type": "array",
                            "items": {
                                "type": "object",
                                "properties": {
                                    "lat": {
                                        "type": "number"
                                    },
                                    "lng": {
                                        "type": "number"
                                    }
                                }
                            }
                        }
                    }
                },
                "description": {
                    "type": "string"
                },
                "drones": {
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "callsign": {
                                "type": "string"
                            },
                            "description": {
                                "type": "string"
                            },
                            "id": {
                                "type": "integer"
                            },
                            "model": {
                                "type": "string"
                            },
                            "sn": {
                                "type": "string"
                            }
                        }
                    }
                },
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "v1.JobEditionOptionsResult": {
            "type": "object",
            "properties": {
                "area": {
                    "description": "区域信息",
                    "allOf": [
                        {
                            "$ref": "#/definitions/v1.JobAreaResult"
                        }
                    ]
                },
                "description": {
                    "type": "string"
                },
                "drones": {
                    "description": "Drones 可用的无人机列表",
                    "type": "array",
                    "items": {
                        "type": "object",
                        "properties": {
                            "callsign": {
                                "type": "string"
                            },
                            "description": {
                                "type": "string"
                            },
                            "id": {
                                "type": "integer"
                            },
                            "model": {
                                "description": "无人机型号",
                                "type": "string"
                            },
                            "rtk_available": {
                                "type": "boolean"
                            },
                            "sn": {
                                "description": "无人机序列号",
                                "type": "string"
                            },
                            "thermal_available": {
                                "description": "是否支持热成像",
                                "type": "boolean"
                            }
                        }
                    }
                },
                "id": {
                    "description": "任务ID",
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "v1.JobEditionRequest": {
            "type": "object",
            "properties": {
                "description": {
                    "description": "任务描述",
                    "type": "string"
                },
                "drone_ids": {
                    "description": "无人机ID列表",
                    "type": "array",
                    "items": {
                        "type": "integer"
                    }
                },
                "id": {
                    "description": "任务ID",
                    "type": "integer"
                },
                "name": {
                    "description": "任务名称",
                    "type": "string"
                }
            }
        },
        "v1.JobItemResult": {
            "type": "object",
            "properties": {
                "area_name": {
                    "type": "string"
                },
                "description": {
                    "type": "string"
                },
                "drones": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "id": {
                    "type": "integer"
                },
                "name": {
                    "type": "string"
                },
                "target_classes": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "v1.LoginRequest": {
            "type": "object",
            "required": [
                "password",
                "username"
            ],
            "properties": {
                "password": {
                    "type": "string",
                    "example": "admin"
                },
                "sn": {
                    "description": "SN 遥控器 SN，仅 Pilot 端登录时需要提供",
                    "type": "string",
                    "example": "123456"
                },
                "username": {
                    "type": "string",
                    "example": "admin"
                }
            }
        },
        "v1.LoginResult": {
            "type": "object",
            "properties": {
                "params": {
                    "$ref": "#/definitions/v1.ParamsResult"
                },
                "platform": {
                    "$ref": "#/definitions/v1.PlatformResult"
                },
                "token": {
                    "type": "string"
                },
                "user": {
                    "$ref": "#/definitions/v1.UserResult"
                }
            }
        },
        "v1.ParamsResult": {
            "type": "object",
            "properties": {
                "mqtt_host": {
                    "type": "string"
                },
                "mqtt_password": {
                    "type": "string"
                },
                "mqtt_username": {
                    "type": "string"
                }
            }
        },
        "v1.PlatformResult": {
            "type": "object",
            "properties": {
                "desc": {
                    "type": "string"
                },
                "platform": {
                    "type": "string"
                },
                "workspace": {
                    "type": "string"
                }
            }
        },
        "v1.PointRequest": {
            "type": "object",
            "properties": {
                "index": {
                    "type": "integer"
                },
                "lat": {
                    "type": "number"
                },
                "lng": {
                    "type": "number"
                }
            }
        },
        "v1.PointResult": {
            "type": "object",
            "properties": {
                "index": {
                    "type": "integer"
                },
                "lat": {
                    "type": "number"
                },
                "lng": {
                    "type": "number"
                }
            }
        },
        "v1.Response": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "integer"
                },
                "data": {},
                "msg": {
                    "type": "string"
                }
            }
        },
        "v1.UserResult": {
            "type": "object",
            "properties": {
                "id": {
                    "type": "string"
                },
                "role": {
                    "type": "string"
                },
                "username": {
                    "type": "string"
                }
            }
        },
        "v1.WaylineItemResult": {
            "type": "object",
            "properties": {
                "created_at": {
                    "type": "string"
                },
                "drone_model": {
                    "type": "string"
                },
                "drone_sn": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "s3_key": {
                    "type": "string"
                },
                "upload_user": {
                    "type": "string"
                }
            }
        }
    }
}